$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #28496e;
$primary-light: #418fe8;
$secondary: #e8ac41;
$secondary-light: #ffc661;
$secondary-dark: #9c6e1c;
$secondary-white: #e7e7e7;
$background-grey: #f8f7f1;
$background-grey-dark: #cbc396;
$color-black: #444;
$color-white: #e1e1e1;
$shadow-light: 0px 21px 13px rgba(0, 0, 0, 0.04);
